[alias]
    br = branch
    ci = commit
    co = checkout
    st = status
    graph = log --all --graph --decorate --abbrev-commit --color --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	graphh = log --all --graph --decorate --abbrev-commit --stat --color
    last = log -1 HEAD
    staash = stash --all
    bb = !~/.dotfiles/better-branch.sh

[color]
    ui = auto

[column]
    ui = auto

[commit]
    gpgsign = false

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
    autocrlf = input

[fetch]
    prune = true

[gpg]
    program = gpg

; Use when needed
[includeIf "gitdir:~/Desktop/"]
    path = ~/Desktop/.gitconfig

[init]
	defaultBranch = main

[pull]
    rebase = true

[push]
    default = simple

[rerere]
	enable = true

[tag]
    gpgSign = true
