[user]
	name = Xinsheng Ooi
	email = 84843079+xs1128@users.noreply.github.com
    signingkey = 72C03917ADD6020DC147D3F70FD050EF14194831
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[alias]
	graph = log --all --graph --decorate
[gpg]
	program = gpg
[commit]
	gpgsign = true
